---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import {headerData} from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import Image from '~/components/common/Image.astro';

const dependenciesImg = '~/assets/images/dependencies.webp';
const landingImg = '~/assets/images/landing.webp';

const metadata = {
  title: 'Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <!-- <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    /> -->
    <Header {...headerData} isSticky />
  </Fragment>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="Astro Indie Mvp Template"
    actions={[
      {variant: 'secondary', target: '_blank', text: 'Get Started', href: 'https://github.com/basmpera/astromvp'},
    ]}
    image={{
      src: dependenciesImg,
      alt: 'AstroMvp Hero Image',
    }}
  >
    <Fragment slot="title">
      MVPs Made Simple: Ship quickly with Minimal Coding Effort
      <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Enhance your website creation process with <span class="font-semibold">AstroMvp</span>'s Template.</span
      >
      Effortlessly combine the strength of Astro 4.0 and DaisyUI to build websites that align with your brand identity and
      engage your audience.
    </Fragment>
  </Hero>

  <!-- Steps Widget -->

  <Steps
    id="steps"
    items={[
      {description: 'git clone astro-mvp'},
      {description: 'cd astro-mvp && npm install'},
      {description: 'npm run start'},
    ]}
    title="Getting Started"
    subtitle="Start in a moment following this Steps (You need to have npm installed)"
  >
    <div class="mockup-window bg-base-300 border">
      <Image
        class="mx-auto rounded-md w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={800}
        height={450}
        src={landingImg}
        alt="Astro Mvp example"
      />
    </div>
  </Steps>

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    tagline="Features"
    title="What you get with AstroMvp"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind (DaisyUI)',
        description:
          'A smooth integration between Astro and CSS, providing high productivity, performance, and flexibility.',
        icon: 'tabler:brand-css3',
      },
      {
        title: 'Best Coding Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and long-term value.',
        icon: 'tabler:code',
      },
      {
        title: 'Optimized Load Time',
        description:
          'Good load time impacts search engine ranking, improves user experience (UI/UX) and increases conversion rates.',
        icon: 'tabler:speedboat',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO enhances a website's visibility, attracting organic traffic and enabling it to reach more people.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and collaborations',
        description:
          'Embracing an environment that welcomes new ideas and contributions fosters innovation, teamwork, and a unique user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Pricing  -->

  <Pricing
    id="pricing"
    title="Our Prices"
    subtitle="Pay only for what you need"
    prices={[
      {
        title: 'basic',
        subtitle: 'Ideal for personal use',
        price: 29,
        period: 'per month',
        items: [
          {
            description: 'Includes basic features and support',
          },
          {
            description: 'Limited to one user account',
          },
          {
            description: 'Standard data storage capacity',
          },
          {
            description: 'Basic customer service',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#',
        },
      },
      {
        title: 'standard',
        subtitle: 'Ideal for small teams',
        price: 69,
        period: 'Per Month',
        items: [
          {
            description: 'Includes all basic features and support',
          },
          {
            description: 'Supports up to five user accounts',
          },
          {
            description: 'Enhanced data storage capacity',
          },
          {
            description: 'Priority customer service',
          },
          {
            description: 'Access to premium resources',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'premium',
        subtitle: 'Ideal for companies',
        price: 199,
        period: 'Per Month',
        items: [
          {
            description: 'Includes all standard features and support',
          },
          {
            description: 'Supports unlimited user accounts',
          },
          {
            description: 'Unlimited data storage capacity',
          },
          {
            description: '24/7 dedicated customer service',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faq"
    items={[
      {
        title: 'Is AstroMvp compatible with the latest versions of React and Bootstrap?',
        description:
          'Yes, AstroMvp is designed to be compatible with the latest versions of both React and Bootstrap. This ensures that you can leverage the full power of these technologies while taking advantage of the features offered by AstroMvp.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroMvp for both personal and business projects?',
        description:
          "Absolutely! AstroMvp is a versatile tool that can be used for various projects, including both personal and professional endeavors. Whether you're building a personal blog, launching an online store, or creating a corporate website, AstroMvp has got you covered.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding expertise is required to use AstroMvp?',
        description:
          'While some familiarity with JavaScript and web development concepts is beneficial, the user-friendly interface and customization options allow those with limited coding skills to create professional websites. For more experienced developers, AstroMvp offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is technical assistance available for AstroMvp users who need help?',
        description:
          "Of course! Our dedicated support team is here to assist you with any questions or issues you may encounter. Don't hesitate to contact us through our support channels, and we'll be more than happy to provide the assistance you need.",
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Testimonials />
</Layout>
