---
import {twMerge} from 'tailwind-merge';

export interface Props {
  value?: number;
}

const {value} = Astro.props;

function getProgressClass(value) {
  if (value > 60) {
    return 'progress-success';
  } else if (value > 40) {
    return 'progress-warning';
  } else if (value > 0) {
    return 'progress-error';
  }

  return 'bg-primary-content';
}
---

<!-- <progress class={twMerge(`progress w-full`, getProgressClass(value))} value={value ?? 0} max="100"></progress> -->{
  !value ? (
    <div class="text-center font-extrabold text-white">N/A</div>
  ) : (
    <progress
      class={twMerge(`progress w-full bg-opacity-20 bg-base-300`, getProgressClass(value))}
      value={value ?? 0}
      max="100"
    />
  )
}
