---
import '~/assets/styles/tailwind.css';

import {I18N} from 'astromvp:config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import Metadata from '~/components/common/Metadata.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import type {MetaData as MetaDataType} from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const {metadata = {}} = Astro.props;
const {language, textDirection} = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} data-theme="lofi">
  <head>
    <CommonMeta />
    <Favicons />
    <Metadata {...metadata} />

    <style is:global>


    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-thin.otf') format('opentype');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-book.otf') format('opentype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-italic.otf') format('opentype');
      font-weight: 400;
      font-style: italic;
      font-display: swap;
    }

    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-medium.otf') format('opentype');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-bold.otf') format('opentype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'PP Neue Montreal';
      src: url('/fonts/ppneuemontreal-semibolditalic.otf') format('opentype');
      font-weight: 600;
      font-style: italic;
      font-display: swap;
    }

      html {
        font-family: 'PP Neue Montreal', sans-serif;
        scroll-behavior: smooth;
      }
      
      body {
        margin: 0;
        padding: 0;
        font-feature-settings: "calt" 1, "kern" 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      img {
        content-visibility: auto;
      }
    </style>
  </head>

  <body>
    <slot />
    <BasicScripts />
  </body>
</html>
